<div class="jumbotron container">
    <h1 class="display-4">Image Marking App</h1>
    <p class="lead">Upload and share documents with friends. Users can upload images to the system and draw markings on the image. The markings are made in free drawing when the user
        can set two modes of operation: ellipses and rectangles.</p>
    <hr class="my-4">
    <p>Login or create new account</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg btn-space" href="user/login" role="button">Login</a>
      <a class="btn btn-primary btn-lg" href="user/register" role="button">Register</a>
    </p>
  </div>



  

 



