<div class="register-form">
    <form [formGroup]="userFormData" (ngSubmit)="register()">
        <h2 class="text-center">Register</h2>
        <div class="form-group">
            <input type="text" class="form-control" formControlName = "name"  placeholder="First Name"> <br/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" formControlName = "userID"  placeholder="Email Adress"> <br/>
        </div>
        <div class="error" *ngIf="showRegisterErr">
            <p>
                User ID already exists
            </p>
       </div>

        <button type="submit" class="btn btn-primary btn-lg container" role="button">Submit</button>
    </form>
</div>


